html {
	background-color: #797979
}

body {
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
	background-color: #a5d282;
	margin: 0 0 0 0;
}

div#menu {
	margin-left: 60%;
	text-align: left;
	width: 40%;
	background: #797979;
	padding-top: 22px;
}

div#menu ul {
	list-style: none;
	padding: 5px;
	border-bottom-color: white;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

div#menu ul > li {
	display: inline-block;
	border-style: solid;
	border-color: white;
	border-width: 2px;
	border-bottom: 0px;
	border-top: 0px;
	border-right: 0px;
	padding: 5px;
}

div#menu ul > li:first-child {
	border-left: 0px;
}

span.slogan {
	font-size: 40%;
	color: #fffeff;
	text-decoration: underline;
	font-weight: bold;
}

div.header {
	font-size: 200%;
	background-color: #797979;
	color: white;
	float: left;
	width: 60%;
}

div.header h2 {
	margin: 0 0 20px 0;
}

div.heading {
	margin: 0 0 10px 0;
	font-size: 150%;
}

div.content {
	font-size: 100%;
}

div#errors {
	padding: 10px;
	background: #ffb143;
	color: white;
	margin-bottom: 10px;
	text-align: center;
}

div#messages {
	padding: 10px;
	background: #fcfb8d;
	margin-top: 10px;
	margin-bottom: 10px;
}

div.footer {
	background-color: #797979;
	padding: 10px 0 10px 0;
	text-align: center;
}

div.content_container {
	margin: 10%;
}

div.footer span {
	font-size: 60%;
	font-style: italic;
	color: #fffeff;
	text-decoration: underline;
}